@using WebSiteBanHang.Models
@model ItemGioHang

@{
    ViewBag.Title = "SuaGioHang";
  
}



@{ 
    List<ItemGioHang> lstGioHang = ViewBag.GioHang as List<ItemGioHang>;
}

<table class="table">
    <tr>
        <td>Mã SP</td>
        <td>Tên SP</td>
        <td>Hình Ảnh</td>
        <td>Số Lượng</td>
        <td>Đơn Giá</td>
        <td>Thành Tiền</td>
    </tr>

    @foreach (var item in lstGioHang)
    {
        //SP co MaSP dc chinh gui tu tham so ben trang xem gio hang
        if (Model.MaSP == item.MaSP)
        {
            using (Html.BeginForm("CapNhatGioHang", "GioHang"))
            {
                <tr>
                    <td>@item.MaSP @Html.Hidden("MaSP", item.MaSP)</td>
                    <td>@item.TenSP</td>
                    <td><img src="@Url.Content("~/Content/HinhAnhSP/"+item.HinhAnh)" width="50" height="50" /></td>
                    <td>@Html.TextBox("SoLuong", item.SoLuong)</td>
                    <td>@item.DonGia $</td>
                    <td>@item.ThanhTien $</td>
                    <td><input type="submit" value="Cập Nhật" /></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>@item.MaSP</td>
                <td>@item.TenSP</td>
                <td><img src="@Url.Content("~/Content/HinhAnhSP/" + item.HinhAnh)" width="50" height="50" /></td>
                <td>@item.SoLuong</td>
                <td>@item.DonGia $</td>
                <td>@item.ThanhTien $</td>
                <td>@Html.ActionLink("Sửa", "SuaGioHang", new { @MaSP = item.MaSP })
                    @Html.ActionLink("Xóa", "XoaGioHang", new { @MaSP = item.MaSP} )
                </td>
            </tr>
        }
    }

</table>

